@import '../variables';

.CompanyName {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 15%;
}

.CompanyName-link {
  color: $colorTextLink;
  font-size: medium;
  position: relative;
  text-decoration: none;
}

.CompanyName-link:visited {
  color: $colorTextLink;
}

.CompanyName-link:hover {
  color: $colorTextLinkHover;
}

.CompanyName-link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: $colorTextLinkHover;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .CompanyName-link:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}
