@import '../variables';

.CompanyItem {
  border: $colorText solid 1px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
}

.CompanyItem-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.CompanyItem-logo-img {
  width: 15%;
}

.CompanyItem-summary {
  margin-bottom: 20px;
}
