@import '../variables';

.CompanyTable {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  vertical-align: top;
}

.CompanyTable-header {
  overflow: hidden;
  text-align: center;
}

td {
  border-bottom: 1px solid $colorText;
  padding: 20px;
}

th {
  border-bottom: 2px solid $colorText;
  padding: 20px;
}
