.CompanyRow {
  overflow:hidden;
}

.CompanyRow-logo {
  text-align: center;
  width: 10%;
}

.CompanyRow-logo-img {
  font-size: calc(2px + 2vmin);
  width: 60%;
}

.CompanyRow-summary {
  font-size: calc(2px + 2vmin);
  width: 75%;
}
