.Company {
  text-align: start;
}

.Company-table {
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  justify-content: left;
  margin: auto;
  table-layout: fixed;
  text-align: left;
  vertical-align: top;
  width: 75%;
}

.Company-table-header {
  overflow:hidden;
  text-align: center;
}

table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 2px solid gray;
}
