@import '../variables';

.CompanyTable {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  justify-content: left;
  margin: auto;
  table-layout: fixed;
  text-align: left;
  vertical-align: top;
}

.CompanyTable-header {
  overflow: hidden;
  text-align: center;
}

td {
  border-bottom: 1px solid $colorText;
  padding: 15px;
}

th {
  border-bottom: 2px solid $colorText;
  padding: 15px;
}
