.Company {
  text-align: start;
}

.Company-table {
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
  justify-content: left;
  margin: 0 40px;
  table-layout: fixed;
  text-align: left;
  vertical-align: top;
}

.Company-table-header {
  border-bottom: thin solid black;
  border-left: 10px solid black;
  overflow:hidden;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}
