@import '../variables';

.CompanyName {
  text-align: center;
  width: 15%;
}

.CompanyName-link {
  color: $colorLink;
  text-decoration: none;
}

.CompanyName-link:visited {
  color: $colorLink;
}

.CompanyName-link:hover {
  color: $colorLinkHover;
}
