@import './variables';

@font-face {
  font-family: Apercu;
  src: url('./fonts/Apercu/apercu_regular.ttf');
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, $colorBgHeavy, $colorBgLight);
  color: $colorText;
  font-family: Apercu;
  margin: 0;
  // padding: 50px 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    overflow: hidden;
}
