.Company {
  text-align: start;
  background-color: #282c34;
}

.Company-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Company-logo {
    animation: Company-logo-spin infinite 20s linear;
  }
}

.Company-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Company-table {
  width: 65%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 2vmin);
  color: white;
  table-layout: fixed;
  margin: auto;
  vertical-align: top;
  text-align: left;
}

.table-header-row {
  text-align: center;
  border-bottom: thin solid #dddddd;
  border-left: 10px solid #dddddd;
  overflow:hidden; 
}

.table-row {
  border-bottom: thin solid #dddddd;
  border-left: 10px solid #dddddd;
  overflow:hidden; 
}

table, th, td {
  border: 1px solid white;
}

.table-company-name {
  width: 15%;
  text-align: center;
}

.table-company-logo {
  width: 10%;
  text-align: center;
}

.table-image {
  width: 60%;
  font-size: calc(2px + 2vmin);
}

.table-company-summary {
  width: 75%;
  font-size: calc(2px + 2vmin);
}

.Company-link {
  color: #61dafb;
}

@keyframes Company-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
